.top-container {
  background-color: #393E46;
    margin-bottom: 100px;
}

.bottom-container {
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #11999E;
  height: 50px;
}

hr {
  border-color: #EAF6F6;
  background-color: inherit;
  border-style: dotted none none;
  border-width: 10px;
  width: 10%;
  height: 5px;
  margin: 100px auto;
}

.welcome {
  color: #11999E;
  width: 20%;
  font-size: 7.5rem;
  margin: 0 auto 0 auto;
  padding: 10px;
  display: inline;
  font-family: 'Sacramento', cursive;
  line-height: 1.7;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.skills {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.programmer {
  width: 17%;
  float: left;
  margin-right: 30px;
}

.problem_solver {
  width: 17%;
  float: right;
  margin-right: 40px;
}

.text_1 {
  color: #11999E;
  font-size: 1.6rem;
  margin-bottom: 65px;
  font-weight: normal;
  font-family: 'Roboto Condensed', sans-serif;
}

h2 {
  font-family: 'Asul', sans-serif;
  color: #11999E;
}

h3 {
  font-family: 'Asul', sans-serif;
  color: #11999E;
}

.text_rand {
  text-decoration: underline;
}

.cloud_1 {
  position: relative;
  padding-left: 70rem;
  padding-top: 60px;
}

.cloud_2 {
  position: relative;
  top: 200px;
  right: 60%;
}

.btn {
  color: #11999E;
}

.btn {
   background: #11999E;
   background-image: -webkit-linear-gradient(top, #11999E, #11999E);
   background-image: -moz-linear-gradient(top, #11999E, #11999E);
   background-image: -ms-linear-gradient(top, #11999E, #11999E);
   background-image: -o-linear-gradient(top, #11999E, #11999E);
   background-image: -webkit-gradient(to bottom, #11999E, #11999E);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Brush Script MT;
   font-size: 29px;
   font-weight: 200;
   padding: 12px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin-bottom: 20px;
}
