.top-container {
  background-color: #393E46;
}

.empty_space {
  background-color: black;
  height: 100px;
  width: 100%;
  margin: 0 auto 0 auto;
  position: static;
  text-align: center;
  padding: 1% 0px;
}

.welcome {
  color: #EF5350;
  width: 20%;
  font-size: 7.5rem;
  margin: 0 auto 0 auto;
  padding: 10px;
  display: inline;
  font-family: 'Sacramento', cursive;
  line-height: 1.7;
}

body {
  margin: 0px;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.text_1 {
  color: #EF5350;
  font-size: 1.6rem;
  margin-bottom: 65px;
  font-weight: normal;
}

h2 {
  font-family: 'Asul', sans-serif;
}

h3 {
  font-family: 'Asul', sans-serif;
  color: #11999E;
}

.text_rand {
  text-decoration: underline;
}

.cloud_1 {
  position: relative;
  padding-left: 70rem;
  padding-top: 60px;
}

.cloud_2 {
  position: relative;
  top: 200px;
  right: 60%;
}

a {
  color: #11999E;
}
